@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-logo img {
    width: 62px;
    height: 62px;
}

.logo-title {
    color: orange;
}

.menu-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 2rem;
}

a {
    text-decoration: none;
}

.items-1 {
    color: orange;
}

.items-2 {
    color: skyblue;
}

.items-3 {
    color: #05D4DF;
}

.items-4 {
    color: #5D58EF;
}

.header-btn {
    border-radius: 12px;
    border: none;
    background-color: orange;
    color: white;
    padding: 10px 40px;
}

header {
    padding: 1.4rem 0;
}

.menu-btn {
    display: none;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.5rem;
}

.title-1 {
    color: orange;
    font-size: 5.6rem;
    font-weight: bold;
}

.banner-title {
    color: black;
    font-size: 5.6rem;
    font-weight: bold;
}

.title-2 {
    color: #0fbafd;
    font-size: 5.6rem;
    font-weight: bold;
}

.banner-description {
    margin-top: 24px;
    font-size: 20px;
    color: black;
}

.enroll-btn {
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px 40px;
    margin-top: 24px;
}

.curriculum-heading>h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5rem;
    font-size: 4.6rem;
    font-weight: bold;
}

.curriculums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.curriculum {
    padding: 3rem;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg,
            rgb(222, 245, 255),
            rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);
}

.curriculum-content {
    text-align: center;
    margin-top: 30px;
}

.curriculum-para {
    margin-top: 33px;
    line-height: 30px;
}

.standard-btn {
    border: none;
    margin-top: 30px;
    color:#0377a5;
    font-size: 1.0rem;
    font-weight: bold;
    background: none;
}

.standard-btn-1 {
    border: none;
    margin-top: 30px;
    color: #F0AA00;
    font-size: 1.0rem;
    font-weight: bold;
    background: none;
}

.standard-btn-2 {
    border: none;
    margin-top: 30px;
    color: #8700FF;
    font-size: 1.0rem;
    font-weight: bold;
    background: none;
}
.curriculum-container{
    background-image: url("../assets/bg.png");
}
.curriculum-img {
    text-align: center;
}

.curriculums-btns {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.curriculums-btns i {
    font-size: 2rem;
    width: 4.2rem;
    height: 4.2rem;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.curriculum-card-1{
    background: linear-gradient(365deg, rgba(255, 255, 255, 1) 62%, rgba(222, 245, 255, 1) 100%);
    border: 1px solid rgba(222, 245, 255, 1);
}
.curriculum-card-2{
    background: linear-gradient(365deg, rgba(255, 255, 255, 1) 62%, rgba(255, 244, 220, 1) 100%);
    border: 1px solid rgba(255, 244, 220, 1);
}
.curriculum-card-3{
    background: linear-gradient(365deg, rgba(255, 255, 255, 1) 62%, rgba(242, 232, 255, 1) 100%);
    border: 1px solid rgba(242, 232, 255, 1);
}


.our-stories{
    background-image: linear-gradient(to top,#fea10177, #ffffff5a), url('../assets/bg.png');
    background-position: center;
    width: 100%;
    padding: 100px 0 80px 0;
   
}

.our-stories-section > h1{
    text-align: center;
    font-size: 2.87rem;
    margin-bottom: 70px;
}

.our-stories-section{
    width: 90%;
    margin: auto;
}

.stories-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.stories-card{
    border-radius: 20px;
}

.stories-card-1{
    grid-column: 1 / 3;
    grid-row: 1 / -1;
}

.stories-card-img-button{
    position: relative;
}

.stories-card-img-button > button{
    left: 35px;
    bottom: -15px;
    position: absolute;
  
}

.stories-card-img-button > img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.date-button{
    border-radius: 20px;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
}

.date-button-card-1{
    background-color: #3CD8E8;
}

.stories-card-content-box-1{
    padding: 40px 30px 20px 30px;
}
.stories-card-content-box-1 > p{
    font-size: 16px;
    line-height: 28px;
}
.stories-card{
    background-color: white;
}
.stories-card-content-box-1 > h2{
    font-size: 24px;
    margin: 30px 0;
}
.date-button-card-2{
    background-color: #95B226;
}
.stories-card-content{
    padding: 40px 20px 20px 20px;
}
.stories-card-content > h2{
    font-size: 20px;
}
.date-button-card-3{
    background-color: #5D58F0;
}
.view-all-button{
    text-align: center;
    padding: 50px 0 20px 0;
}
.view-all-button button{
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px 60px;
    background-color: black;
    color: white;
}
.footer{
    background-color: #05ACFD;
}
.footer-section{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 140px 0;
}
.footer-logo-secton{
    width: 30%;
}
.footer-logo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer-logo h1{
    width: 60px;
    line-height: 38px;
    color: white;
    font-size: 42px;
    padding-left: 10px;
}
.footer-logo-p{
    color: white;
    font-size: 1rem;
    line-height: 27px;
}
.footer-menu-section{
    color: white;
}
.footer-menu-section h1{
    font-size: 24px;
}
.footer-menu-section li{
    font-size: 20px;
    list-style: none;
    padding: 10px 0;
}
.footer-logo img{
    filter: saturate(100%);
}
.footer-social-icon-section h1{
    color: white;
    margin-bottom: 10px;
}

